<div class="navbar">

    <img class="navbar_logo" src="./assets/icons/kLogo.svg" alt="Logo of Kore">
    <div class="navbar_links_container">

        <ul class="navbar_links">
            <li>
                <a class="active_link" href="#">
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    Portfolio Web
                </a>
            </li>
            <li>
                <a class="" href="#">
                    Portfolio Videojuegos
                </a>
            </li>
        </ul>

    </div>
    <div class="space-bottonm">
        <p> </p>
    </div>
</div>